.scoreboard {
  min-height: 70px;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 4rem;
  line-height: 1.1;
  color: #17a2b8;
}

.label,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;

  font-size: 1.2rem;
}

.label,
.alarm {
  color: #17a2b8;
}

.alarm,
.error {
  color: #c82333;
}
